@page "/"
@inject Services.MovieService movieService
@using Models.ApiResponseModels
@using Enums

<h1>Movie list<img alt="Film reel icon" src="/images/film-reel.png" style="width: 40px; margin: 10px" /></h1><span></span>
@if (Movie != null)
{
<EditForm Model="@Movie" OnValidSubmit="@GetSearchResult">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <label>
        Seach by title:
        <InputText id="name" @bind-Value="SearchText" />
    </label>
    <label>
        Order results by:
        <InputSelect @bind-Value="OrderChoice">
            <option value="@OrderChoice.OrderbyTitleAscending">Title(Ascending)</option>
            <option value="@OrderChoice.OrderbyTitleDescending">Title(Descending)</option>
        </InputSelect>
    </label>
    <button type="submit">Search</button>
</EditForm>
    if (Movie.d == null)
    {
        <p>Search for get movies</p>
    }
    else
    {
        @foreach (var movie in Movie.d)
        {
            <p>Title: @movie.l</p>
            if (movie.i != null)
            {
                <img alt="Movie cover" src="@movie.i.imageUrl" style="width: 200px" />
            }

        }
    }

}
else
{
    <p>Loading content</p>
}


@code {

    public MovieSearchResult Movie { get; set; }
    public string SearchText { get; set; }
    public OrderChoice OrderChoice { get; set; }


    protected override async Task OnInitializedAsync()
    {
        Movie = await movieService.GetMovieAsync("", OrderChoice);

    }

    public async Task GetSearchResult()
    {
        Movie = await movieService.GetMovieAsync(SearchText, OrderChoice);
    }
}
